// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
// Variables

:root {
    // --primary-dark: #12232e;
    // --primary: #007cc7;
    // --primary-light: #4da8da;
    // --bg-color: #eaf2f7;

    // --font-light: #eefbfb;
    // --font-dark: #203647;

    // --primary-font:'Montserrat', sans-serif;
    // --secondary-font:'Kalam', cursive;

    --primary-dark: #12232e;
    --secondary-light: #4da8da;
    --secondary-dark: #007cc7;

    // --hover-color: #15f4ee; //(hover)
    --hover-color: #007cc7; //(hover)

    --bg-color: #eaf2f7;

    --font-light: #eefbfb;
    --font-medium: #5f92b9;
    --font-dark: #3e637f;

    --primary-font: "Poppins";
    --secondary-font: "Kalam";

    --x-font: 40px;
    --l-font: 36px;
    --m-font: 24px;
    --sm-font: 16px;
    --xs-font: 10px;
}

// Smooth scrooling
html {
    scroll-behavior: smooth;
}

// Reusable code
.ctr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctrc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.hover {
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.2);
        transition: all 0.2s ease;
        color: var(--hover-color);
    }

    &:active {
        transform: scale(1.1);
        transition: all 0.2s ease;
    }
}

// CSS code
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

//  ****************    Topbar start    *******************

.topbar {
    background-color: var(--primary-dark);
    height: auto;

    .socialIcons {
        a {
            font-size: 1.5rem;
            color: var(--font-light);
        }
    }

    .contacts {
        a {
            font-size: 0.8rem;
            color: var(--font-light);
            text-decoration: none;
            transition: all 0.2s ease;
            font-weight: 400;

            &:hover {
                transform: scale(1.05);
                transition: all 0.2s ease;
                color: var(--hover-color);
            }

            &:active {
                transform: scale(1);
                transition: all 0.2s ease;
            }

            &:first-child {
                margin-right: 1rem;
            }

            i {
                margin: 0 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 775px) {
    .topbar {
        padding: 10px 0;

        .socialIcons {
            a {
                font-size: 1rem;
            }
        }

        .contacts {
            a {
                font-size: 0.6rem;
            }
        }
    }
}

//  ****************    Topbar End    *******************
// ****************    Navbar Start    *******************
.nav-container {
    background-color: var(--primary-dark);

    .navBar {
        position: relative;
        background-color: var(--primary-dark);

        .logo {
            @media screen and (max-width: 775px) {
                & {
                    display: flex;
                    justify-content: center;
                }
            }

            a {
                padding: 10px;
                height: 70px;
                width: 80px;

                img {
                    height: 100%;
                    width: 100%;
                    clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 50% 100%, 0% 25%);
                }
            }
        }

        .nav-button {
            position: absolute;
            top: -3.5rem;
            right: 0.5rem;
            height: 2rem;
            width: 3rem;
            background-color: transparent;
            outline: none;
            border: none;

            i {
                transition: all 0.5s ease;
                font-size: var(--m-font);
                font-weight: 600;
                color: var(--font-light);
            }

            .rotate {
                transform: rotate(360deg);
            }
        }

        .item-container {
            ul {
                li {
                    a {
                        color: var(--font-light);
                        font-size: var(--sm-font);
                        font-weight: 500;
                        position: relative;

                        &:hover {
                            color: var(--hover-color);
                        }
                    }

                    a {
                        position: relative;

                        &::after {
                            content: "";
                            top: 100%;
                            left: 0;
                            height: 3px;
                            width: 0;
                            background-color: var(--hover-color);
                            position: absolute;
                            transition: all 0.3s;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 775px) {
    .nav-items {
        text-align: center;

        .last {
            margin-bottom: 2rem;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

//   ****************     Navbar End    *******************
//   ****************     Slider Start    *******************
.slider-container {
    position: relative;
    padding: 0;
    background: url('https://via.placeholder.com/1000x500/eaf2f7/eefbfb ?Text=Digital.comC/O https://placeholder.com/');
    background-position: fixed;
    height: 500px;
    width: 100%;
    background-position: center;

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;

        .slides {
            height: 100%;
            width: 100%;

            position: relative;

            text-align: center;
            display: flex;
            align-items: center;
            justify-content: start;

            .slide {
                .slide-row {
                    color: var(--font-dark);
                    letter-spacing: 2px;

                    .sub {
                        font-size: var(--l-font);
                        font-weight: 700;
                        font-family: var(--secondary-font);
                    }

                    .heading {
                        font-size: var(--x-font);
                        font-weight: 700;
                        font-family: var(--primary-font);

                        span {
                            padding: 0 15px;
                            position: relative;
                            color: var(--secondary-dark);
                            font-family: var(--secondary-font);

                            &::after {
                                content: "";
                                height: 100%;
                                width: 130%;
                                clip-path: polygon(25% 0%,
                                        100% 0,
                                        75% 100%,
                                        0% 100%);
                                top: 0;
                                left: -15%;
                                position: absolute;
                                z-index: -1;
                                background-color: var(--primary-dark);
                            }
                        }
                    }

                    button {
                        padding: 10px 20px;
                        margin: 3rem 0;
                        border: none;
                        height: 60px;
                        background-color: var(--primary-dark);
                        border-radius: 20px;
                        transition: all 0.3s;

                        &:hover {
                            border: 2px solid var(--primary-dark);
                            background-color: transparent;

                            a {
                                color: var(--primary-dark);
                            }
                        }

                        a {
                            text-decoration: none;
                            color: var(--secondary-dark);
                            font-size: var(--m-font);
                            font-weight: 600;
                            font-weight: bolder;
                        }
                    }
                }
            }
        }

        .button {
            font-size: 2rem;

            i {
                color: var(--secondary-dark);
            }
        }

        ol {
            li {
                background-color: var(--secondary-dark);
            }

            .active {
                background-color: var(--secondary-dark);
            }
        }
    }
}

@media screen and (max-width: 775px) {
    .slider-container {
        .slider-image-container {
            height: 300px;
        }

        .slider {
            .slides {
                .slide {
                    .slide-row {
                        .sub {
                            font-size: var(--sm-font);
                        }

                        .heading {
                            font-size: var(--m-font);
                            font-weight: 600;
                        }

                        button {
                            padding: 5px 10px;
                            height: auto;
                            margin: 1rem 0;

                            a {
                                font-size: var(--sm-font);
                            }
                        }
                    }
                }
            }
        }
    }
}

//   --------------     Slider Media Querie start    -------------

//   --------------     Slider Media Querie end    -------------

//   ****************     Slider End    *******************
//   ****************     About Start    *******************
.about-container {
    margin-top: 3rem;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    h2 {
        font-size: var(--x-font);
        font-family: var(--secondary-font);
        font-weight: 700;
        font-weight: bolder;
        color: var(--font-dark);
        // color:blue;
    }

    .about-image {
        width: 100%;
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .about-text {
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin-top: 2rem;
            font-size: var(--sm-font);
            font-family: var(--primary-font);
            font-weight: 400;
            color: var(--font-medium);
            letter-spacing: 0.5px;
        }
    }
}

@media screen and (max-width: 768px) {
    .about-image {
        margin-bottom: 2rem;
    }
}

//   ****************     About End    *******************
//   ****************     Why us Start    *******************
.paralex {
    margin-top: 2rem;
    padding: 2rem 0;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    background-image: url('https://via.placeholder.com/1000x1000/eaf2f7/eefbfb ?Text=Lingaduraihttps://placeholder.com/');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .para-contanier {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;

        h2 {
            font-weight: 700;
            font-family: var(--secondary-font);
            color: var(--font-dark);
            font-size: var(--x-font);
            margin-bottom: 20px;

        }

        .content {
            margin: 1rem 0;

            img {
                height: 60px;
                width: 60px;
                border-radius: 0 50% 0 50%;
            }

            p {
                color: (--font-dark);
                font-size: var(--sm-font);
                font-family: var(--primary-font);
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 775px) {
    .paralex {
        height: 100vh;
        min-height: 500px;

        .para-contanier {
            h2 {
                font-size: var(--l-font);
                font-weight: 700;
            }

            .content {
                margin: 8px 0;

                img {
                    height: 50px;
                    width: 50px;
                    border-radius: 50% 0 50% 0;
                    margin-bottom: 20px;
                }

                p {
                    color: (--font-dark);
                    font-size: var(--sm-font);
                    font-weight: 400;
                }
            }
        }
    }
}

//   ****************     Why us  End    *******************
//   ****************     Services start    *******************
.service-fluid {
    min-height: 100vh;

    padding: 1rem 0;

    .services-container {
        h2 {
            font-size: var(--x-font);
            color: var(--font-dark);
            font-family: var(--secondary-font);
            font-weight: 700;
        }

        .services {
            .service {

                padding: 20px 20px 40px 20px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;

                .ctt {
                    margin-top: 2rem;
                    display: flex;
                    align-items: start;
                    justify-content: center;

                    i {
                        font-size: 2.5rem;
                        color: var(--secondary-dark);
                    }
                }

                .text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-left: -1rem;

                    h3 {
                        margin: 1rem 0;
                        font-weight: bold;
                        font-family: var(--secondary-font);
                        color: var(--font-medium);
                        font-size: var(--m-font);
                        font-weight: 600;
                    }

                    p {
                        text-align: center;
                        font-size: var(--sm-font);
                        font-weight: 400;
                    }

                    button {
                        outline: none;
                        border: 2px solid var(--primary-dark);
                        background-color: transparent;
                        padding: 5px 10px;
                        border-radius: 20px;
                        color: var(--font-dark);
                        transition: all 0.5s;
                        font-size: var(--sm-font);

                        &:hover {
                            background-color: var(--primary-dark);
                            color: var(--font-light);
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 0 20px 1px #4da9da46;
                }
            }
        }
    }
}

@media screen and (max-width:576px) {
    .service-fluid {
        .services-container {
            .services {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .service {
                    width: 80%;


                }
            }
        }
    }
}

//   ****************     Services End    *******************
//   ****************     Swipper start    *******************
.body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    padding: 2rem 0;
    min-height: 100vh;

    h1 {
        text-align: center;
        font-size: var(--x-font);
        color: var(--primary-dark);
        font-family: var(--secondary-font);
        font-weight: 700;
    }

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-wrapper {

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                padding: 15px 10px;
                /* Center slide text vertically */

                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                gap: 1rem;
                flex-direction: column;
                border-radius: 10px;
                // border: 2px solid var(--secondary-dark);
                box-shadow: 0 0 20px 1px #4da9da46;
                margin: 30px 0;

                img {
                    width: 100px;
                    height: 100px;
                    background-position: cover;
                    border-radius: 50% 0 50% 0;
                    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                }

                .card-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h2 {
                        font-size: var(--m-font);
                        font-weight: 600;
                        color: var(--font-medium);
                        font-family: var(--secondary-font);
                    }

                    p {
                        font-family: var(--primary-font);
                        color: var(--font-dark);
                        font-size: var(--sm-font);
                        width: 80%;
                        font-weight: 400;
                    }

                    button {
                        border: none;
                        outline: none;
                        background-color: transparent;
                        padding: 2px 15px;
                        font-size: var(x-font);
                        font-weight: 500;
                        border: 2px solid var(--secondary-dark);
                        border-radius: 20px;
                        color: var(--primary-dark);
                        transition: all 0.3s;

                        &:hover {
                            background-color: var(--secondary-dark);
                        }

                        &:active {
                            transform: scale(0.9);
                        }
                    }
                }
            }
        }

        .next-btn {
            color: var(--secondary-dark);

            &::after {
                font-size: 20px;
            }
        }

        .btn-pagination {
            span {
                background-color: var(--secondary-dark);
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .body {
        .swiper {
            width: 60% !important;

            .swiper-wrapper {
                .swiper-slide {
                    padding: 120px 0;

                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .body {
        .swiper {

            width: 80% !important;
            padding: 10px 5px;
        }
    }
}

//   ****************     swipper End    *******************

// ---------------------------------------------------------------------------------

// testimonial
.testimonials {
    background-image: url('https://via.placeholder.com/1000x500/eaf2f7/eefbfb ?Text=Digital.comC/O https://placeholder.com/');
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;

    .heading {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        // width: 100%;
        margin-top: 5rem;
        padding: 2rem;
        font-weight: 700;
        font-size: var(--x-font);
        font-family: var(--secondary-font);
        color: var(--secondary-dark);

    }

    .testimonial {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .icons {

            i {
                color: var(--secondary-light);
                font-size: 2rem;
            }
        }

        .t-slider-container {
            background-color: transparent;

            div {
                margin-top: 2rem;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    img {
                        height: 150px;
                        width: 150px;
                        border-radius: 50% 0 50% 50%;
                        object-fit: center;
                    }

                    h3 {
                        color: var(--primary-dark);
                        font-weight: 700;
                        font-family: var(--secondary-font);
                        font-size: var(--l-font);
                    }

                    p {
                        width: 70%;
                        text-align: center;
                        color: var(--primary-medium);
                        font-size: var(--sm-font);
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 775px) {
    .testimonials {
        .heading {
            margin-top: 2rem;
        }

        .testimonial {
            .slider-container {
                div {
                    div {
                        img {
                            height: 80px;
                            width: 80px;
                        }

                        h3 {
                            font-size: var(--m-font);
                            font-weight: 600;
                        }

                        p {
                            font-size: var(--sm-font);
                        }
                    }
                }
            }
        }
    }
}

// ******************   Footer Start    ******************
.footer {
    background-color: var(--primary-dark);

    .footer-container {
        .footer-row {
            padding: 2rem 0;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 2rem;

                img {
                    clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 50% 100%, 0% 25%);
                    width: 50%;
                    height: auto;
                    filter: invert(100%);
                }

                p {
                    color: var(--font-medium);
                    text-align: center;
                    font-size: var(--sm-font);
                }
            }

            .links {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h3 {
                    color: var(--font-light);
                    font-size: var(--font-medium);
                    font-size: var(--m-font);
                    font-weight: 600;
                }

                ul {
                    list-style: none;

                    a {
                        text-decoration: none;
                        font-size: var(--sm-font);
                        font-weight: 500;
                        overflow: hidden;

                        li {
                            color: var(--font-medium);
                            margin: 5px;
                            font-weight: 500;
                            position: relative;

                            &:hover::before {
                                width: 100%;
                            }

                            &::before {
                                transition: all 0.3s;
                                content: "";
                                top: 100%;
                                left: 0;
                                height: 2px;
                                width: 0;
                                background-color: var(--secondary-dark);
                                position: absolute;
                            }
                        }
                    }
                }
            }

            .subscribe {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h3 {
                    color: var(--font-light);
                    font-size: var(--m-font);
                    font-weight: 600;
                    margin-bottom: 2rem;
                    text-align: center;
                }

                p {
                    font-size: var(--sm-font);
                    color: var(--font-medium);
                    text-align: center;
                }

                input {
                    border: none;
                    outline: none;
                    color: var(--font-light);
                    caret-color: var(--font-medium);
                    text-align: center;
                    font-weight: 200;
                    font-size: var(--sm-font);
                    background-color: transparent;
                    border-bottom: 2px solid var(--font-medium);

                    &::placeholder {
                        color: var(--font-medium);
                    }
                }

                button {
                    border: 2px solid var(--secondary-dark);
                    color: var(--secondary-dark);
                    outline: none;
                    background-color: transparent;
                    margin-top: 1rem;
                    padding: 5px 20px;
                    border-radius: 20px;
                    font-size: var(--sm-font);
                    font-weight: 500;
                    transition: all 0.3s;

                    &:hover {
                        background-color: var(--secondary-dark);
                        color: var(--primary-dark);
                    }
                }
            }
        }

        .terms-condition {
            div {
                margin-bottom: 0.5rem;
            }

            a,
            p {
                color: var(--secondary-light);
            }

            a {
                margin-right: 5px;

                text-decoration: none;
            }
        }
    }
}

// ******************   Footer end    ******************

// Section Animation
.section {
    transition: all 1s;
}

.section_hidden {
    transform: translateY(15rem);
    opacity: 0;
}

// Custom scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-dark);
}

// ------------ Error Page ------------------

.error-page {
    background-color: var(--secondary-light);

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 5rem;
            color: var(--primary-dark);
        }

        h2 {
            font-size: var(--m-font);
            font-family: var(--primary-font);
            font-weight: 600;
        }

        p {
            font-size: var(--s-font);
            color: var(--primary-dark);
            font-weight: 400;
        }

        button {
            padding: 5px 10px;
            outline: none;
            border: none;
            border-radius: 10px;
            transition: all 0.3s;
            background-color: transparent;
            border: 2px solid var(--secondary-dark);

            a {
                color: var(--primary-dark);
                text-decoration: none;

                i {
                    margin: 0 10px 0 0;
                }
            }

            &:hover {
                background-color: var(--secondary-dark);
            }
        }
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 500px;
            width: 300px;
        }
    }
}


// Page legend Start
.page-legend {
    background: url('https://via.placeholder.com/1200x120/eaf2f7?text=Invered Logo');
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;


    h2 {
        font-size: var(--l-font);
    }

    .bread-crumbs {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                }
            }
        }
    }


}

// Page legend End

// validation Start
.validation {
    min-height: 100vh;
    background: linear-gradient(to right bottom, #007cc7, #4da8da);

    .signin {
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            backdrop-filter: blur(100%);
            width: 70%;
            min-width: 250px;
            height: 400px;
            gap: 1rem;
            box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.059);

            .input {

                label {
                    font-size: var(--xs-font);
                    margin-bottom: 0;
                }

                input {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    border-bottom: 2px solid var(--primary-dark);
                }
            }

            button {
                padding: 5px 10px;
                background-color: transparent;
                border: 2px solid var(--primary-dark);
                border-radius: 10px;
            }

        }
    }


}

// validation End

// Contactus Start
.contact-container {

    min-height: 300px;

    .content {
        padding: 1rem;

        i {
            font-size: 40px;
            color: var(--primary);
            margin-bottom: 1rem;

        }

        h3 {
            color: var(--font-dark);
            letter-spacing: 1px;
            font-size: var(--m-font);
            font-family: var(--secondary-font);
            font-weight: 600;
            margin-bottom: 1rem;
        }

        p {
            font-size: var(--s-font);
            font-weight: 400;
            font-family: var(--primary-font);
            color: var(--font-dark);
        }
    }

}



@media screen and (max-width:768px) {
    .contact-container {
        max-height: 700px;
        min-height: 300px;

        .content {
            i {
                font-size: var(--m-font);
            }

            h3 {
                font-size: var(--sm-font);
            }

            p {
                font-size: var(--xs-font);
            }

        }
    }
}


.f-contianer {
    padding-top: 1rem;

    .f-row {
        .first {
            h3 {
                font-weight: 600;
                color: var(--font-dark);
                font-family: var(--secondary-font);
            }

            form {
                margin-top: 1rem;
                padding: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .input {
                    margin: 1rem 0;

                    label {
                        font-size: var(--s-font);
                        color: var(--font-dark);
                        font-weight: 400;

                    }

                    input {
                        outline: none;
                        border: none;
                        border-bottom: 1px solid var(--secondary-dark);

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }

                .tarea {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    textarea {
                        outline: none;
                        border: 1px solid var(--secondary-dark);
                        resize: none;
                        border-radius: 5px;
                    }
                }

                .button {
                    display: flex;
                    justify-content: center;

                    button {
                        padding: 5px 15px;
                        font-size: var(--sm-font);
                        color: var(--font-dark);
                        font-weight: 500;
                        outline: none;
                        border: 1px solid var(--secondary-dark);
                        border-radius: 10px;
                    }
                }
            }
        }

        .second {
            iframe {
                width: 100%;
                min-height: 350px;
            }
        }

    }
}


// Contactus End



// Videos section Start
.video-container {
    .videos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .v-row {
            width: 100%;
            margin-top: 10px;

            iframe {
                min-height: 250px;
                width: 95%;
            }
        }
    }
}

// Videos section End


// About Start
.about-company {
    .content {
        .about-text {
            p {
                font-size: var(--sm-font);
                font-weight: 400;
                font-family: var(--secondary-font);
                text-align: justify;
                color: var(--font-dark);
            }
        }

        .about-img {
            min-height: 300px;
            width: 100%;
            // background-color: red;

            img {
                height: 100%;
                width: 100%;
                object-fit: fill;
            }
        }
    }

}

@media screen and (max-width:992px) {
    .about-company {
        .content {
            .about-img {
                max-height: 400px;

            }
        }
    }
}

// About Counter Start
.about-counter {
    background-color: red;

    .counter-container {
        .counter-row {
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 1rem 0;


            }
        }
    }
}

// About Counter End
.about-slider {
    min-height: 300px;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    .swiper {
      
        .swiper-wrapper {
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .card-content {
                    h2 {
                        font-size: var(--sm-font);
                        color: var(--font-dark);

                    }
                }
            }
        }
    }
}

// About End